# RStudio / R files
R/sub_loader_manual.R

# Vintages
vintages/*
!vintages/.gitkeep

# Authentication
gmail_creds

# R session files
.Rhistory

# Project dependencies
renv/library/

# Environment variables
.Renviron

# Environment variables
sql/02_insert_data.sql
sql/03_delete_data.sql
